* {
  margin:0px;
  padding:0px;
  font-family:sans-serif;
}

#sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #a5a5a5;
  left:-200px;
  transition: all 300ms linear;
}
#sidebar.active {
  left: 0px;
}

#sidebar .main {
  font-weight: 900;
  color: rgba(230, 230, 230, 0.9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.7);
}

#sidebar .secondary {
  font-weight: 550;
  color: rgba(230, 230, 230, 0.9);
  list-style: none;
  padding: 9px 6px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.7);
}

#hoverable:hover {
  background: #828282;
  transition: all 200ms linear;
}

#sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
}

#sidebar .toggle-btn span {
  display: block;
  width: 30px;
  height: 5px;
  background: #a5a5a5;
  margin: 3px 0px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.bottom {
  position: fixed;
  bottom: 0;
}

p {
  font-family: "Times New Roman", Times, sans-serif;
}

header {
  font-weight: 900;
  font-size: 150%;
}

#open {
  background: #828282;
}
